<h2>登録情報</h2>

<%= link_to '編集する', edit_end_users_path %>

<table border="1">
<tr>
  <th>氏名</th>
  <td><%= current_end_user.last_name %>　<%= current_end_user.first_name %></td>
</tr>
<tr>
  <th>カナ</th>
  <td><%= current_end_user.last_name_kana %>　<%= current_end_user.first_name_kana %></td>
</tr>
<tr>
  <th>郵便番号</th>
  <td><%= current_end_user.postal_code %></td>
</tr>
<tr>
  <th>住所</th>
  <td><%= current_end_user.address %></td>
</tr>
<tr>
  <th>電話番号</th>
  <td><%= current_end_user.phone_number %></td>
</tr>
<tr>
  <th>メールアドレス</th>
  <td><%= current_end_user.email %></td>
</tr>
</table>

パスワード変更｜配送先　一覧を見る｜注文履歴　一覧を見る